body{
    margin: 0;
    font-family: 'PT Mono';
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #c8c0bb;
    background: #33302e;
}

a{
    text-decoration: none;
    font-family: 'PT Mono';
    font-size: 15px;
    font-weight: 400;
    color: #dba63c;
    cursor: auto;
}

a:hover{
    text-decoration: underline;
}
img:hover {opacity: 0.7;}

#page-content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#header{
    min-height: 133px;
    background: #1e1c19;
    color: #dba63c;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
}

#header ul li{
    display:inline;
    list-style: none;
}

#header #name{
    padding-top: 50px;  
    padding-left: 50px;   
    font-family: "Pacifico", sans-serif;
    font-size: 40px;
    float: left;
    width: 33%;
}

#header #menus{
    padding-top:30px;
    float: right;
    width: 60%;
}

#header #menus #navigation{
    float: left;
    width: 30%;
}

#header #menus #socialmedia{
    float: right;
    width: 30%;

}

#header #menus #navigation ul li{
    display:block;
    list-style: none;
}

#content #content-heading-no-border{
    padding-left:50px;
   padding-top:50px;
   width: 26%;
   padding-bottom:5px;
}

#content #content-heading-border{
    width: 100%;
   font-size: 25px;
   font-weight: 500;
   border-bottom: solid #4b4643 10px;
}

#content-paintings{
    padding-top:50px;
    display:flex;
}

.column{
    flex:1;
    margin-right: 3%;
}

.column-one{
    order:1;
}
.column-two{
    order:2;
}
.column-three{
    order:3;
}

.content-no-columns{
    width: 100%;
    padding-left:50px;
    padding-top:50px;
    padding-bottom:5px;
}

#content-paintings .painting{
     margin-bottom:20%;
     text-align: center;
}

#content-paintings img{
  width: auto;
  max-width: 400;
  height: auto;
  max-height: 392;
   border: solid #1e1c19 4px;
  
}


#content-paintings .painting-title{
     margin-top: 5%;
     color: #dba63c;
}

#content-paintings .painting-blurb{
     margin-top: 5%;
     font-size: 13px;
     line-height: 18px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

